extends ../layout

block mainpane

// TODO: Link to mocha and chai
  script(src="../../node_modules/mocha/mocha.js")
  script(src="../../node_modules/chai/chai.js")

  h3 Tests
  h4 Visual tests for Kickstart 3

  block test

block sidebar
  h3 Table of Contents
  ul
    li
      a(href="/tests/buttons") buttons
    li
      a(href="/tests/navigation") navigation
