doctype html
html(lang='en')
  head
    // TODO: Link to mocha and chai
    script(src="../../node_modules/mocha/mocha.js")
    script(src="../../node_modules/chai/chai.js")

  body
    h1 Tests

    .navbar#test-nav
      nav
        ul
          li.navbar-title
            button(role="button") =
          li
            a(href="#") Just an average link
          li#test-nav-subparent
            a#test-nav-submenu-link(href="#") Submenu
            ul#test-nav-submenu
              li
                a(href="#") Submenu link 1.1
              li
                a(href="#") Submenu link 1.2
          li#test-nav-subparent-2
            a#test-nav-submenu-link-2(href="#") Submenu 2
            ul#test-nav-submenu-2
              li
                a(href="#") Submenu link 2.1
              li
                a(href="#") Submenu link 2.2

    .navbar#test-nav-2
      nav
        ul
          li
            a#test-nav-submenu-link-3(href="#") Submenu 3
            ul#test-nav-submenu-3
              li
                a(href="#") Submenu link 3.1
              li
                a(href="#") Submenu link 3.2

    #test-modal
      h1 Hi, I'm a modal.

    #test-modal-2
      h1 Hi, I'm a modal as well.

    button#ddbutton1 Button
    button.foo#ddbutton2
      | Button
      ul
        li
          a(href="#") Option 1
        li
          a(href="#") Option 2

    ul#ddbutton3
      li
        a(href="#") Upload
      li#dropdownParent
        a.button-dropdown(href="#") +
        ul
          li
            a(href="#") Choose from library
          li
            a(href="#") Take a picture


    footer
      script.
        mocha.setup('bdd');
      script(src="../js/test.js")
      script.
        if (window.mochaPhantomJS) {
          mochaPhantomJS.run();
        } else {
          mocha.run();
        }
