doctype html
html(lang='en')
  head
    // TODO: Link to mocha and chai
    script(src="../../node_modules/mocha/mocha.js")
    script(src="../../node_modules/chai/chai.js")

  body
    h1 Tests

    .navbar#test-nav
      nav
        ul
          li
            a(href="#") Just an average link
          li
            a#test-nav-submenu-link(href="#") Submenu
            ul#test-nav-submenu
              li
                a(href="#") Submenu link 1.1
              li
                a(href="#") Submenu link 1.2
          li
            a#test-nav-submenu-link-2(href="#") Submenu 2
            ul#test-nav-submenu-2
              li
                a(href="#") Submenu link 2.1
              li
                a(href="#") Submenu link 2.2

    .navbar#test-nav-2
      nav
        ul
          li
            a#test-nav-submenu-link-3(href="#") Submenu 3
            ul#test-nav-submenu-3
              li
                a(href="#") Submenu link 3.1
              li
                a(href="#") Submenu link 3.2

    #test-modal
      h1 Hi, I'm a modal.

    #test-modal-2
      h1 Hi, I'm a modal as well.

    a#ddbutton3(role="button") Button
    button#ddbutton4 Button

    a#ddbutton1(role="button")
      | Button
      ul
        li
          a(href="#") Option 1
        li
          a(href="#") Option 2

    button.foo#ddbutton2
      | Button
      ul
        li
          a(href="#") Option 1
        li
          a(href="#") Option 2

    footer
      script.
        mocha.setup('bdd');
      script(src="../js/test.js")
      script.
        if (window.mochaPhantomJS) {
          mochaPhantomJS.run();
        } else {
          mocha.run();
        }
