doctype html
html(lang='en')
  head
    // TODO: Link to mocha and chai
    script(src="../../node_modules/mocha/mocha.js")
    script(src="../../node_modules/chai/chai.js")

  body
    h1 Tests

    #test-modal
      h1 Hi, I'm a modal.
      
    #test-modal-2
      h1 Hi, I'm a modal.

    footer
      script.
        mocha.setup('bdd');
      script(src="../js/test.js")
      script.
        if (window.mochaPhantomJS) {
          mochaPhantomJS.run();
        } else {
          mocha.run();
        }
