extends ../layout

block content
  .row
    main.mainpane
      h1 Tests
      h2 Visual tests for Kickstart 3

      block test

    aside.sidebar
      h3 Table of Contents
      ul
        li
          a(href="./buttons") buttons
