extends ../layout

block mainpane
  h3 Tests
  h4 Visual tests for Kickstart 3

  block test

block sidebar
  h3 Table of Contents
  ul
    li
      a(href="/tests/buttons") buttons
    li
      a(href="/tests/navigation") navigation
