extends ../../layout

block hero-title
  h1 Forms

block hero-example
  form.form
    label Email
    input(type="email" placeholder="john@example.com")

    input(value="Subscribe" type="submit" role="button")

block basic
  form.form
    label First Name
    input(type="text" placeholder="John")

    label Last Name
    input(type="text" placeholder="Smith")

    label Bio
    textarea

    input(value="Subscribe" type="submit" role="button")

block variations
  h3 Horizontal

  form.form-horizontal
    label First Name
    input(type="text" placeholder="John")

    label Last Name
    input(type="text" placeholder="Smith")

    label Industry
    select
      option Academic
      option Automotive
      option Finance
      option Government
      option Medical
      option Restaurant
      option Technology

    input(type="submit" role="button")

  h3 Left

  form.form-left
    label First Name
    input(type="text" placeholder="John")

    label Last Name
    input(type="text" placeholder="Smith")

    label Bio
    textarea

    label Industry
    select
      option Academic
      option Automotive
      option Finance
      option Government
      option Medical
      option Restaurant
      option Technology

    input(type="submit" role="button")

  h3 Validation

  form.form
    label First Name
    input(type="text" placeholder="John")

    label First Name
    input(type="text" placeholder="John")

    label First Name
    input(type="text" placeholder="John")
