extends ../../layout

block hero-title
  h1 Forms

block hero-example
  form.form
    label Email
    input(type="email" placeholder="john@example.com")
    
    input(value="Subscribe" type="submit" role="button")

block basic
  form.form
    label First Name
    input(type="text" placeholder="John")

    label Last Name
    input(type="text" placeholder="Smith")

    label Issue size
    label
      input(type="radio" name="issue")
      |  Small issue
    label
      input(type="radio" name="issue")
      |  Regular issue
    label
      input(type="radio" name="issue")
      |  Large issue

    label Shipping options
    label
      input(type="checkbox")
      |  Fast shipping
    label
      input(type="checkbox")
      |  Gift-wrapping

    label Subscription frequency
    select
      option Daily
      option Weekly
      option Monthly
      option Yearly

    label Bio
    textarea

    input(value="Subscribe" type="submit" role="button")

block variations
  :markdown
    ### Horizontal

    `textarea` elements are not included in default styling of horizontal
    forms.

  form.form-horizontal
    label First Name
    input(type="text" placeholder="John")

    label Last Name
    input(type="text" placeholder="Smith")

    label Industry
    select
      option Academic
      option Automotive
      option Finance
      option Government
      option Medical
      option Restaurant
      option Technology

    input(type="submit" role="button")

  :markdown
    ### Left-aligned

    Labels and form elements align to the center line of the form width.

  form.form-left
    label First Name
    input(type="text" placeholder="John")

    label Last Name
    input(type="text" placeholder="Smith")

    label Bio
    textarea

    label Industry
    select
      option Academic
      option Automotive
      option Finance
      option Government
      option Medical
      option Restaurant
      option Technology

    input(type="submit" role="button")

  :markdown
    ### Validation

  form.form
    label First Name
    input(type="text" placeholder="John")

    label First Name
    input(type="text" placeholder="John")

    label First Name
    input(type="text" placeholder="John")
