extends ../../layout

block hero-title
  h1 Forms

block hero-example
  form.form
    .form_group
      label Email
      input(type="email" placeholder="john@example.com")
    
    input(value="Subscribe" type="submit" role="button")

block basic
  // For testing
    - var $types = ['button', 'color', 'date', 'datetime', 'datetime-local', 'email', 'file', 'image', 'month', 'number', 'password', 'tel', 'search', 'text', 'time', 'url', 'week']
    - for $type in $types
      input(type="#{$type}" value="foo")
  form.form
    .form_group
      label First Name
      input(type="text" placeholder="John")

    .form_group
      label Last Name
      input(type="text" placeholder="Smith")

    .form_group
      label Issue size

      input(type="radio" name="issue" id="small")
      label(for="small") Small issue

      input(type="radio" name="issue" id="regular")
      label(for="regular") Regular issue

      input(type="radio" name="issue" id="large")
      label(for="large") Large issue

    .form_group
      label Shipping options

      input(type="checkbox" id="fastshipping")
      label(for="fastshipping") Fast shipping

      input(type="checkbox" id="giftwrapping")
      label(for="giftwrapping") Gift wrapping

    .form_group
      label Subscription frequency
      select
        option Daily
        option Weekly
        option Monthly
        option Yearly

    .form_group
      label Bio
      textarea

    input(value="Subscribe" type="submit" role="button")

  .ifnot-semantic
    :markdown
      Wrap sets of form elements in a `.form-group()` to keep
      proper spacing.

          <form class="form">
            <div class="form-group">
              <label for="fname">First name</label>
              <input name="fname" type="text" />
            </div>
            <div class="form-group">
              <label for="lname">Last name</label>
              <input name="lname" type="text" />
            </div>
            <div class="form-group">
              <label>Issue Size</label> 

              <input id="small" type="checkbox" />
              <label for="small">Small</label>

              <input id="regular" type="checkbox" />
              <label for="regular">Regular</label>

              <input id="large" type="checkbox" />
              <label for="large">Large</label>
            </div>
            ...
            <input type="submit" />
          </form>

  .if-semantic
    :markdown
      Wrap sets of form elements in an element using `form_group()` to keep
      proper spacing.

          <form>
            <div class="group">
              <label for="fname">First name</label>
              <input name="fname" type="text" />
            </div>
            <div class="group">
              <label for="lname">Last name</label>
              <input name="lname" type="text" />
            </div>
            <div class="group">
              <label>Issue Size</label> 

              <input id="small" type="checkbox" />
              <label for="small">Small</label>

              <input id="regular" type="checkbox" />
              <label for="regular">Regular</label>

              <input id="large" type="checkbox" />
              <label for="large">Large</label>
            </div>
            ...
            <input type="submit" />
          </form>

          form {
            @include form();
          }
          .group {
            @include form_group();
          }

block variations
  :markdown
    ### Horizontal

    `textarea` elements are not included in default styling of horizontal
    forms.

  form.form-horizontal
    .form_group
      label First Name
      input(type="text" placeholder="John")

    .form_group
      label Last Name
      input(type="text" placeholder="Smith")

    .form_group
      label Industry
      select
        option Academic
        option Automotive
        option Finance
        option Government
        option Medical
        option Restaurant
        option Technology

    input(type="submit" role="button")

  .if-semantic
    :markdown
      Both the `form()` and `form_group()` mixins need to pass in `horizontal`
      as a parameter. This is because it is possible to have a vertical
      form with both horizontal and vertical form groups

          <form>
            <div class="group">
              <label for="fname">First name</label>
              <input name="fname" type="text" />
            </div>
            <div class="group">
              <label for="lname">Last name</label>
              <input name="lname" type="text" />
            </div>
            <div class="group">
              <label for="industry">Industry</label>
              <select name="industry">
                ...
              </select>
            </div>
            <input type="submit" />
          </form>

          form {
            @include form('horizontal');
          }
          .group {
            @include form_group('horizontal');
          }

  .ifnot-semantic
    :markdown
      Simply add `.form-horizontal` to `.form` to convert to a horizontal form.

          <form class="form form-horizontal">
            <div class="form-group">
              <label for="fname">First name</label>
              <input name="fname" type="text" />
            </div>
            <div class="form-group">
              <label for="lname">Last name</label>
              <input name="lname" type="text" />
            </div>
            <div class="form-group">
              <label for="industry">Industry</label>
              <select name="industry">
                ...
              </select>
            </div>
            <input type="submit" />
          </form>

  :markdown
    ### Left-aligned

    Labels and form elements align to the center line of the form width.

  form.form-left
    .form_group
      label First Name
      input(type="text" placeholder="John")

    .form_group
      label Last Name
      input(type="text" placeholder="Smith")

    .form_group
      label Bio
      textarea

    .form_group
      label Industry
      select
        option Academic
        option Automotive
        option Finance
        option Government
        option Medical
        option Restaurant
        option Technology

    input(type="submit" role="button")

  :markdown
    ### Mixed

    Use several orientations in one form element

  form.form
    .form_group
      label Name
      input(type="text")

    .form_group
      label Email
      input(type="email")

    .form_group
      label City, state, zip
      input(type="text")
      input(type="text")
      input(type="number")

    .form_group.form-horizontal
      .form_group
        label Prefix
        input(type="text")

      .form_group
        label Suffix
        input(type="text")

  :markdown
    ### States

    Disabled inputs are grayed out and receive a disabled cursor.

  input(type="email" disabled value="john@example.com")

  :markdown
    <span>
      
        <input type="email" value="john@example.com" disabled />

  :markdown
    ### Validation

    Three classes can be used to style form components for
    validation: `error`, `success`, and `warning`.

    The classes can be directly applied to the elements:

        <input class="error" type="email" />
        <p class="error">Please enter a valid email</p>

    Or to a **direct** parent:

        <div class="error">
          <input type="email" />
          <p>Please enter a valid email</p>
        </div>

  h4 Error

  form
    label.error First Name
    input.error(type="text" placeholder="John")
    p.error Please enter a valid first name

  :markdown
    <span>

        <form action="...">
          <label class="error" for="fName">
          <input class="error" type="text" placeholder="John" name="fName"/> 
          <p class="error">Please enter a valid first name</p>
        </form>

  h4 Success

  form
    label.success First Name
    input.success(type="text" placeholder="John")
    p.success Thanks!

  :markdown
    <span>

        <form action="...">
          <label class="success" for="fName">
          <input class="success" type="text" placeholder="John" name="fName"/> 
          <p class="warning">Thanks!</p>
        </form>

  h4 Warning

  form
    label.warning First Name
    input.warning(type="text" placeholder="John")
    p.warning This information will be public

  :markdown
    <span>

        <form action="...">
          <label class="warning" for="fName">
          <input class="warning" type="text" placeholder="John" name="fName"/> 
          <p class="warning">This information will be public</p>
        </form>

  .if-semantic
    :markdown
      For this particular use case, there is no semantic version of the 
      validation coloring classes.

  h4 Mixed

  form.form
    .error
      label First Name
      input(type="text" placeholder="John")
      p Please enter a valid first name.

    .warning
      label Last Name
      input(type="text" placeholder="Smith")
      p We already have a user by this name. Are you sure about this?

    label.success Issue size
    label
      input(type="radio" name="issue")
      |  Small issue
    label.success
      input.success(type="radio" name="issue")
      |  Regular issue
    p.success Great choice!
    label
      input(type="radio" name="issue")
      |  Large issue

    label.error Shipping options
    label
      input(type="checkbox")
      |  Fast shipping
    label.error
      input(type="checkbox")
      |  Gift-wrapping
    p.error Sorry, this is not available at this time.

    label.warning Subscription frequency
    select.warning
      option Daily
      option Weekly
      option Monthly
      option Yearly
    p.warning Please be advised, it takes 1 week to change this subscription option

    .success
      label Bio
      p Great bio!
      textarea

    input(value="Subscribe" type="submit" role="button")
