doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/docs-preview.css")
    link(rel="stylesheet" href="/css/kickstart.css")
  body
    block content

    script(src="/js/kickstart.js")
