extends fullpage-layout

block hero-title
  h1 Documentation

block fullPane
  h2 Quickstart
  p Choose how you'd like to get started

  h3
    a(href="#barebones") Barebones
  p Just use the CSS/JS file

  h3
    a(href="#framework") Framework
  p Use in another framework like Rails or Express

  h3
    a(href="#gulp") Full build environment
  p Use our Gulp-powered compilation boilerplate

  header#barebones.page-heading
    h3 Barebones

  p Download kickstart.css and kickstart.js and include in your html file.

  p
    a.button(href="#")
      span.fa.fa-cloud-download
      |  kickstart.css
    | &nbsp;
    a.button(href="#")
      span.fa.fa-cloud-download
      |  kickstart.js

  :markdown
    <span>

        <!DOCTYPE HTML>
        <html>
          <head>
            <link rel="stylesheet" href="css/kickstart.css" />
          </head>
          <body>
            ...
            <script src="js/kickstart.js"></script>
          </body>
        </html>

    Make sure any JavaScript code that uses `k$` goes after the script tag
    inclusion of kickstart.js.

  header#framework.page-heading
    h3 Framework

  :markdown
    I want Kickstart to support Rails (at least) natively, but I'm not there
    yet. Any Rails experts out there want to give me a hand?


  header#gulp.page-heading
    h3 Gulp

  :markdown
    My tool of choice for building all of Kickstart is gulp, plus a ton of
    extras. The easiest way to get started with a gulp implementation of
    kickstart is to simply
    [clone the repo](https://github.com/ajkochanowicz/Kickstrap).
