extends fullpage-layout

block hero-title
  h1 Documentation

block fullPane
  h2 Quickstart
  p Choose how you'd like to get started

  h3
    a(href="#") Barebones
  p Just use the CSS/JS file

  h3
    a(href="#") Dependency-managed
  p Use in another framework like Rails or Express

  h3
    a(href="#") Full build environment
  p Use our Gulp-powered compilation boilerplate
