extends fullpage-layout

block hero-title
  h1 Documentation

block fullPane
  h2 Quickstart
  p Choose how you'd like to get started

  h3
    a(href="#barebones") Barebones
  p Just use the CSS/JS file

  h3
    a(href="#framework") Framework
  p Use in another framework like Rails or Express

  h3
    a(href="#gulp") Full build environment
  p Use our Gulp-powered compilation boilerplate

  header#barebones.page-heading
    h3 Barebones

  p Foo

  header#framework.page-heading
    h3 Framework

  p Foo

  header#gulp.page-heading
    h3 Gulp

  p Foo
