extends fullpage-layout

block hero-title
  h1 Quickstart

block fullPane
  :markdown
    Choose how you'd like to get started

    ### [Barebones](#barebones)

    Just use the CSS/JS file.

    ### [Rails](#framework)

    Use in a **Rails 4+** project.

    ### [Node.js](#gulp)

    Use our Gulp-powered compilation boilerplate

  header#barebones.page-heading
    h3 Barebones

  :markdown
    Use the CDN

        <link rel="stylesheet" href="TODO" />
        <script type="text/javascript" src="TODO"></script>

  p Or download kickstart.css and kickstart.js and include in your html file.

  p
    a.button(href="#")
      span.fa.fa-cloud-download
      |  kickstart.css
    | &nbsp;
    a.button(href="#")
      span.fa.fa-cloud-download
      |  kickstart.js

  :markdown
    <span>

        <!DOCTYPE HTML>
        <html>
          <head>
            <link rel="stylesheet" href="css/kickstart.css" />
          </head>
          <body>
            ...
            <script src="js/kickstart.js"></script>
          </body>
        </html>

    Make sure any JavaScript code that uses `k$` goes after the script tag
    inclusion of kickstart.js.

    Notice that using this method will obviously not allow for using the
    semantic version of the docs.

  header#framework.page-heading
    h3 Rails

  :markdown
    Install the [Kickstart gem](https://rubygems.org/gems/kickstart_rails)

        gem install "kickstart_rails"

    Rails integration is Sass-only. This means you will
    need to use the mixins instead of things like `.col-6`.

    Some of this is practical, some is philosophical, but if you really need the
    regular css despite the fact you're running a full sass-compilation
    environment, linking to kickstart.css directly is still an option.

    In application.css, you'll need to require normalize-rails--already a
    dependency that should have been installed in kickstart_rails.

        *= require_self
        *= require normalize-rails
        *= require_tree .

    Be sure to include this before `require_tree`

    In any scss/sass file requiring kickstart, add the following to the top.

        @import "kickstart_rails/themes/_default";

  header#gulp.page-heading
    h3 Gulp

  :markdown
    My tool of choice for building all of Kickstart is gulp, plus a ton of
    extras. The easiest way to get started with a gulp implementation of
    kickstart is to simply
    [clone the repo](https://github.com/ajkochanowicz/Kickstrap).

    Setup instructions are in the README.md file at the repo.

    Once you have your environment up and running, you should empty the jade
    folder and use kickstart-semantic.sass. This was designed specifically as an
    empty file with everything imported in.

    Rename it to whatever you like and link to the resulting .css file in your
    html/jade
