extends ../../layout

block bleed
  .docs-nav
    .container
      nav
        ul
          li
            a(href="/docs/3.x") Quickstart
          li
            a(href="/docs/3.x/theming/") Theming
          li
            a(href="/docs/3.x/grid/") Grid
          li
            | UI
            ul
              li
                a(href="/docs/3.x/ui/") Base styles
              li
                a(href="/docs/3.x/ui/buttons") Buttons
              li
                a(href="/docs/3.x/ui/forms") Forms
              li
                a(href="/docs/3.x/ui/colors") Colors
              li
                a(href="/docs/3.x/ui/icons") Icons
              li
                a(href="/docs/3.x/ui/images") Images
              li
                a(href="/docs/3.x/ui/labels") Labels
              li
                a(href="/docs/3.x/ui/modals") Modals
              li
                a(href="/docs/3.x/ui/navigation") Navigation
              li
                a(href="/docs/3.x/ui/notifications") Notifications
              li
                a(href="/docs/3.x/ui/tables") Tables
              li
                a(href="/docs/3.x/ui/tabs") Tabs
              li
                a(href="/docs/3.x/ui/tiles") Tiles
              li
                a(href="/docs/3.x/ui/tooltips") Tooltips
              li
                a(href="/docs/3.x/ui/typography") Typography
          li
            | Functions
            ul
              li
                a(href="/docs/3.x/functions/throttling") Throttling
              li
                a(href="/docs/3.x/functions/hdimages") HD Images
          li
            a(href="/docs/3.x/philosophy/") Philosophy

  header.hero
    .container
      block hero-title
      block hero-example

block container
  .row
    aside.sidebar
      section.meta
        h1 View Options
        form
          label.checkbox
            input#docs-semantic(type="checkbox" checked)
            |  Advanced (semantic)
          label.checkbox
            input#docs-jquery(type="checkbox")
            |  jQuery

        block meta

      section.toc
        ul
          li
            a(href="#basic") Basic Implementation
            block toc-basic
          li
            a(href="#variations") Variations
            block toc-variations
          li
            a(href="#granular") Granular
            block toc-granular

      section.troubleshooting
        block troubleshooting

    main.mainpane
      section.basic#basic
        h1 Basic Usage
        block basic

      section.variations#variations
        block variations

      section.granular#granular
        block granular
