extends ../../layout

block bleed
  include _header

  header.doc-hero
    block hero-title
    block hero-example

block container
  .row
    aside.sidebar
      section.meta
        h1 View Options
        form
          label
            input#docs-semantic(type="checkbox" checked)
            | Semantic Sass
          label
            input#docs-jquery(type="checkbox")
            | jQuery

      section#toc
        h1 Table of Contents
        p.creating-table Creating table of contents...

      section.troubleshooting
        block troubleshooting

    main.mainpane
      block docVars
        - var variations = true
      section.basic#basic
        h1
          span.fa.fa-cube
          |  Basic Usage
        block basic

        if variations
          section.variations#variations
            h1
              span.fa.fa-cubes
              |  Digging deeper
            block variations

      section.granular#granular
        // h1 Granular
        block granular

block postJS
  script.
    k$.nav('.docs-nav')
