.DS_Store
public
npm-debug.log
node_modules
rails/lib/kickstart_rails/version.rb
raw/publish
bower_components
.sass-cache
*.gem
rails/.bundle/
rails/.yardoc
rails/Gemfile.lock
rails/_yardoc/
rails/coverage/
rails/doc/
rails/pkg/
rails/spec/reports/
rails/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
kickstart.js
kickstart.min.js
kickstart.css
kickstart.min.css
