.DS_Store
public
npm-debug.log
node_modules
bower_components
.sass-cache
rails/app
rails/.bundle/
rails/.yardoc
rails/Gemfile.lock
rails/_yardoc/
rails/coverage/
rails/doc/
rails/pkg/
rails/spec/reports/
rails/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
