extends ../_layout

block variables
  - var showFooter = true
  - var title = "Chopin"

block menuVars
  - var menuItem = "chopin" 

block page-stylesheet 
  link(rel="stylesheet" href="/css/pages/docs/index.css")

block content
  .wrapper
    div(data-render="docs")
      h1 Chopin
      p Chopin is a A CSS class naming specification to replace BEM.

      p The docs are hosted in the GitHub readme.
      p Please wait while we load that for you.

block postJS
  script k$.ready = function() {k$.loadReadme('chopin')}
