.main-navigation
  .container
    nav
      ul
        li
          h1 Kickstart 3
        li
          a(href="/") Home
        li
          a(href="/docs/") Docs
        li
          a(href="/tests/") Tests

      ul
        li
          // input(type="search" placeholder="Search")
