.main-navigation
  .container
    nav
      ul
        li
          img.logo(src="/img/kickstart-black.png")
        li
          a(href="/") Home
        li
          a(href="/docs/#{docsVersion}/") Docs

      ul
        li
          a.button.button-primary(href="/docs/#{docsVersion}/" role="button")
            span.fa.fa-cloud-download
            |  Download
