.main-navigation
  .container
    nav
      ul
        li
          img.logo(src="/img/kickstart-black.png")
        li
          a(href="/") Home
        li
          a(href="/docs/3.x/") Docs

      ul
        li
          a.button.primary(href="/docs/3.x/" role="button")
            span.fa.fa-cloud-download
            |  Download
