doctype html

- var showFooter = true
block variables

include _mixins

html(lang='en')
  head
    block page-stylesheet
    link(rel="stylesheet" href="/css/docs.css")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
  body
    #screen
      #above-footer
        header.fixed
          include _header
          block header

        block hero

        main.main
          block content

      script(src="/js/kickstart.js")

      - if (showFooter == true)
        footer.main
          .wrapper
            p Made from <a href="http://everything.io">Everything</a>

      - else
        script(src="/js/navbar-fixer.js")
      block preJS

      script(src="/js/docs.js")

      script.
        k$.nav('.main-navigation')

      block postJS
