// Mixins
mixin available-colors
  :markdown
    Available colors include: `red`, `orange`, `yellow`, `green`, `blue`, and `violet`

    You may also use your theme's primary and secondary colors via `primary` and `secondary` 

