extends layout

block content
  +b("resources")
    h1 Thanks for using Kickstart 3
    p Let's get to work!

    +c("resource")
      a(href="http://getkickstart.com") Homepage

    +c("resource")
      a(href="https://github.com/adamjgrant/kickstart/") GitHub
