extends _layout

block page-stylesheet
  link(rel="stylesheet" href="/css/pages/index.css")

block hero
  header.index-hero
    - var xml = fs.readFileSync('lib/img/kickstart.svg')
    div!= xml
    h2 The framework we've been waiting for.

block content
  article.wrapper 
    main.first-pitch
      .feature
        :markdown
          # Extendible
          
          The library is just the core. Kickstart is designed to be extended and themed via the [Kickstart Store](http://kickstart-store.com).

      .feature
        h1 Semantic or class-based
        p Kickstart is the only library to use <strong>either</strong> semantic CSS mixins or discrete CSS classes for styling.

    main.second-pitch
      .feature
        video(src="/videos/overriding-component.mp4" autoplay="autoplay" loop)
        h1 Modular and clean
        p Kickstart components are defined as modules, which can be overriden or extended.

      .feature
        video(src="/videos/overriding-component.mp4" autoplay="autoplay" loop)
        h1 Easy to theme
        p Who wants a framework that makes your site looks live everyone
          | else's?&nbsp;
          a(href="/docs/#{docsVersion}/theming/") More on Themes

      .feature
        video(src="/videos/overriding-component.mp4" autoplay="autoplay" loop)
        h1 Design across devices 

    main.third-pitch
      .feature
        h1 Just JS and CSS
        p Kickstart is as simple as one JavaScript and one CSS file.
          | <strong>No jQuery needed.</strong>
          | Native support for node.js and Rails is included.

      .feature
        h1 Add components and themes with the Kickstart Store.
        p Instead of offering every imaginable UI component and style, Kickstart offers a good set of core components
          | with the ability to add more from the community via the <a href="http://kickstart-store">Kickstart Store</a>

      .feature
        h1 Three

      .feature
        h1 Four
