extends layout

block mainpane
  article.readable
    h3 tl;dr
    p Kickstart is a front-end framework designed for clean HTML on modern browsers.

block sidebar
  h3 Table of Contents
  ul
    li
      a(href="#") tl;dr
    li
      a(href="#") About
