extends layout

block mainpane
  article.readable
    h1 Kickstart 3
    p Kickstart is a front-end framework designed for clean HTML on modern browsers.

    h2 Features
    ul
      li No jQuery dependency
      li Flexbox grid
      li Easily themeable
      li Sass mixins for clean classes

block sidebar
  h1 Table of Contents
  ul
    li
      a(href="#") tl;dr
    li
      a(href="#") About
