extends layout

block bleed
  header.hero
    img.logo(src="/img/kickstart.png")
    h5 A front-end framework for clean HTML<br>and fast performance.

block mainpane
  article.readable

    main
      h2 Lightweight
      ul
        li Not dependent on jQuery.
        li Only use what you need.

      h2 Designed to be customized
      ul
        li Functionality for 3rd party extensions are designed into the framework.
        li Easily create themes by extending components and defining a few core variables.

    .more
      :markdown
        ## Feature-forward
        Kickstart targets the most modern browsers at the time of release. This means we've skipped over the hacks and headed straight to exciting components like using CSS flexbox for the [grid](/docs/#{docsVersion}/grid/).

        ## Design across devices
        <iframe width="700" height="320" src="//www.youtube.com/embed/Rv5f_v5gqw4" frameborder="0" allowfullscreen></iframe>

        *This video is not of a Kickstart project, but does exemplify similar
        functionality when using Gulp.*

        ## Third thing
        Third thing

  :markdown
    ### Pitches

    * X% smaller than Bootstrap, X% smaller than Foundation
    * Option to decouple css library from classes
      * Can be used with functional, presentational, or content-based
    * Not dependent on any JS libraries, including jQuery

    ### CDN provided by
    <img src="/img/maxcdn.png" style="width: 150px"/>


block sidebar
  h1 Table of Contents
  ul
    li
      a(href="#") tl;dr
    li
      a(href="#") About

block postJS
  script.
    k$.growl({
      title: "This is a work in progress",
      text: "An alpha version will be available at the end of October.",
      type: "alert-green",
      delay: 4500
    })
