extends _layout

block page-stylesheet
  link(rel="stylesheet" href="/css/pages/index.css")

block hero
  header.index-hero
    - var xml = fs.readFileSync('lib/img/kickstart.svg')
    div!= xml
    h2 The framework we've been waiting for.

block content
  article.home-wrapper
    section.a-simple-core
      h1 A Simple Core 
      .code
        // Insert iframe'd animation here 
        
      .no-jquery-required
        img(src="img/jscss.jpg")

    .captions
      .caption
        p Kickstart is the only library to use <strong>either</strong> semantic CSS mixins or discrete CSS classes for styling.  

      .caption
        h1 No jQuery Required

  section.blue
    article.home-wrapper
      section.loves-to-be-extended
        h1 Loves to be Extended
        img(src="img/ui.png")
        p 
          | The library is just the core. Kickstart is designed to be extended and themed via the&nbsp;
          a(href="http://kickstart-store.com") Kickstart Store

  article.home-wrapper
    section.last-pitch

      .use-in-any-project
        h1 Use in any project
        img(src="#")
        p The Kickstart library is maintained [with Gulp](/docs/#{docsVersion}/#nodejs) and ported as a [Rails Gem](/docs/#{docsVersion}/#rails).

      .faster-and-lighter-than-bootstrap
        h1 Faster and lighter than Bootstrap
        img(src="#")
        img(src="#")
        p ...and even smaller when used semantically.

    footer.specs
      h1 Specifications
      
      .spec
        dl
          dt Browser Support
          dd IE 11+, Chrome, Firefox 30+, Safari 7+

      .spec
        dl
          dt Filesize
          dd n/a

      .spec
        dl
          dt License
          dd 
            a(href="http://opensource.org/licenses/MIT") MIT

      .spec
        dl
          dt Source Files
          dd Sass, Jade, CoffeeScript

block postJS
  script.
    k$.growl({
      title: "Warning: Alpha Release",
      text: "This is an alpha release of Kickstart, please do not use in a production environment",
      type: "warning",
      delay: 2500
    });
