extends _layout

block page-stylesheet
  link(rel="stylesheet" href="/css/pages/index.css")

block hero
  header.index-hero
    - var xml = fs.readFileSync('lib/img/kickstart.svg')
    div!= xml
    h2 A front-end framework that loves to be extended

block content
  article.wrapper 
    main.first-pitch
      .feature
        h1 Easy to theme
        p Who wants a framework that makes your site looks live everyone
          | else's? You can customize the Kickstart theme with just a few
          | variables, or by downloading a theme from the community.

      .feature
        h1 Semantic or class-based
        p Kickstart is the only library to use <strong>either</strong> semantic CSS mixins or discrete CSS classes for styling.

    main.second-pitch
      .feature
        video(src="/videos/overriding-component.mp4" autoplay="autoplay" loop)
        h1 Modular and clean
        p Kickstart components are defined as modules, which can be overriden or extended.

      .feature
        video(src="/videos/overriding-component.mp4" autoplay="autoplay" loop)
        h1 For modern browsers
        p Kickstart targets modern browsers to give you the latest, most robust features.
          | For targeting older browsers, former releases of Kickstart are made available
          | via the documentation.

      .feature
        video(src="/videos/overriding-component.mp4" autoplay="autoplay" loop)
        h1 Design across devices 

    main.third-pitch
      .feature
        h1 Just JS and CSS
        p Kickstart is as simple as one JavaScript and one CSS file.
          | <strong>No jQuery needed.</strong>
          | Native support for node.js and Rails is included.

      .feature
        h1 Add components and themes with the Kickstart Store.
        p Instead of offering every imaginable UI component and style, Kickstart offers a good set of core components
          | with the ability to add more from the community via the <a href="http://kickstart-store">Kickstart Store</a>

      .feature
        h1 Three

      .feature
        h1 Four
