extends layout

block bleed
  header.hero
    img.logo(src="/img/kickstart.png")
    h5 A front-end framework for clean HTML<br>and fast performance.

block mainpane
  article.readable

    main
      h2 Lightweight
      ul
        li Not dependent on jQuery.
        li Only use what you need.

      h2 Designed to be customized
      ul
        li Easily create themes by extending components and defining a few core variables.

    .more
      :markdown
        ## Feature-forward
        Kickstart targets the most modern browsers at the time of release. This means we've skipped over the hacks and headed straight to exciting components like using CSS flexbox for the [grid](/docs/3.x/grid/).

        ## Second thing
        Second thing

        ## Third thing
        Third thing


block sidebar
  h1 Table of Contents
  ul
    li
      a(href="#") tl;dr
    li
      a(href="#") About

block postJS
  script.
    k$.status({
      text: "This is a work in progress. It's not in alpha or beta, it's just unfinished. How did you get this link anyway?",
      delay: 0
    })
