doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/docs.css")
    link(rel="stylesheet" href="/css/kickstart.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/tomorrow.min.css")
  body
    include _header

    block bleed

    .container
      .row
        main.mainpane
          block mainpane

        aside.sidebar
          block sidebar

      block container

    footer
      script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js")
      script.
        hljs.initHighlightingOnLoad();
      script(src="/js/kickstart.js")
