doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="/css/docs.css")
    link(rel="stylesheet" href="/css/kickstart.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/tomorrow.min.css")
  body
    include _header

    .container
      .row
        main.mainpane
          block mainpane

        aside.sidebar
          block sidebar

    footer
      script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js")
      script.
        hljs.configure({useBR: true});

        var block, _i, _len,
          blocks = document.querySelectorAll('.code');

        for (_i = 0, _len = blocks.length; _i < _len; _i++) {
          block = blocks[_i];
          hljs.highlightBlock(block);
        }
      script(src="/js/kickstart.js")
