extends ../index

block test
  p I am a paragraph
  p I am a paragraph too

  // TODO: Mocha test
  script(src="/js/test.js")
  script.
    if (window.mochaPhantomJS) {
      mochaPhantomJS.run();
    } else {
      mocha.run();
    }
