extends ../../layout

block hero-title
  h1 Tooltips

block hero-example
  .tooltip-trigger
    a(href="#") Hover&nbsp;
    .label I'm a tooltip!

  .tooltip-trigger
    a(href="#") over&nbsp;
    .label.red I'm a tooltip!

  .tooltip-trigger
    a(href="#") any&nbsp;
    .label.orange I'm a tooltip!

  .tooltip-trigger
    a(href="#") of&nbsp;
    .label.yellow I'm a tooltip!

  .tooltip-trigger
    a(href="#") these&nbsp;
    .label.green I'm a tooltip!

  .tooltip-trigger
    a(href="#") words&nbsp;
    .label.blue I'm a tooltip!
