extends ../index

block test
  article
    h5 Navigation

    .navbar
      nav
        ul
          li
            a(href="#") Foo
          li
            a(href="#") Foo
          li Foo
          li
            a(href="#") Foo

    .navbar
      nav
        ul
          li
            a(href="#") Foo
          li
            button(role="button") Button
          li
            a(href="#") Foo
          li
            a.button(href="#" role="button") Button
          li Foo
          li Foo
          li
            a(href="#") Foo
          li
            a.button(href="#" role="button") Button
          li
            button.button(href="#" role="button") Button
          li
            a.button(href="#" role="button") Button
            | &nbsp;
            a.button(href="#" role="button") Button


    h1 (Incorrect implementation)
    .navbar
      nav
        ul
          li
            a(href="#") Foo
          li
            button Button
          li
            a(href="#") Foo
          li
            a.button(href="#") Button
          li Foo
          li Foo
          li
            a(href="#") Foo
          li
            a.button(href="#") Button
          li
            a.button(href="#") Button
