extends ../index

block test
  article
    h5 Navigation

    .navbar
      nav
        ul
          li
            a(href="#") Foo
          li
            button Foo
          li
            a(href="#") Foo
          li
            a.button(href="#") Foo
          li Foo
          li Foo
          li
            a(href="#") Foo
          li
            a.button(href="#") Foo
          li
            a.button(href="#") Foo
