extends ../_layout

block variables
  - var showFooter = true
  - var title = "Amadeus"

block menuVars
  - var menuItem = "amadeus" 

block page-stylesheet 
  link(rel="stylesheet" href="/css/pages/docs/index.css")

block content
  .wrapper
    div(data-render="docs")
      h1 Amadeus
      p Amadeus is a set of CSS variable naming conventions written for any application and originall yinvented for the Kickstart Library.

      p The docs are hosted in the GitHub readme.
      p Please wait while we load that for you.

block postJS
  script k$.ready = function() {k$.loadReadme('amadeus')}
