/*
 *  Kickstart
 *  =========
 */
//  For users who prefer to not use Sass, this will generate a CSS file with
//  classes for all the components.

// Import the semantic index
@import kickstart-semantic

// Generate color classes (This is as close as I can get to being dry.)
=color-classes($prefix, $background-color: false, $color: false)
  $color-names: "red", "orange", "yellow", "green", "blue", "violet"
  @each $name, $value in $colors
    .#{$prefix}-#{unquote($name)}
      @if $background-color
        background-color: $value
      @if $color
        color: $value

// LAYOUT
// ------

#above-footer
  +above-footer

#screen
  +screen

// Assign mixins to static component classes

// ALERTS
// ------

.alert
  +alert

// BUTTONS
// -------
.button
  +button
  // TODO: Make loop
  &.button-primary
    +button-color($primary-color)

  &.button-secondary
    +button-color($secondary-color)

  &.button-clear
    +button-color(transparent)

  &.button-red
    +button-color(map-get($colors, red))

  &.button-orange
    +button-color(map-get($colors, orange))

  &.button-yellow
    +button-color(map-get($colors, yellow))

  &.button-green
    +button-color(map-get($colors, green))

  &.button-blue
    +button-color(map-get($colors, blue))

  &.button-violet
    +button-color(map-get($colors, violet))

  &.button-small
    +button-size($size: 0.85)

  &.button-large
    +button-size($size: 1.2)

.button-group
  +button-group

  &.button-primary
    > li > *:not(ul)
      +button-color($primary-color)

  &.button-secondary
    > li > *:not(ul)
      +button-color($secondary-color)

  &.button-clear
    > li > *:not(ul)
      +button-color(transparent)

  &.button-red
    > li > *:not(ul)
      +button-color(map-get($colors, red))

  &.button-orange
    > li > *:not(ul)
      +button-color(map-get($colors, orange))

  &.button-yellow
    > li > *:not(ul)
      +button-color(map-get($colors, yellow))

  &.button-green
    > li > *:not(ul)
      +button-color(map-get($colors, green))

  &.button-blue
    > li > *:not(ul)
      +button-color(map-get($colors, blue))

  &.button-violet
    > li > *:not(ul)
      +button-color(map-get($colors, violet))

  &.button-small
    > li > *:not(ul)
      +button-size($size: 0.85)

  &.button-large
    > li > *:not(ul)
      +button-size($size: 1.2)

// FORMS
// -----
.form
  +form

.form-horizontal
  +form-horizontal

.form-left
  +form-left

.form_group
  +form_group('vertical')

  &.form_group-horizontal, 
  .form_group-horizontal, 
  .form-horizontal &
    +form_group('horizontal')

// GRID
// ----
.container
  +container

.row
  +row

@for $i from 1 through 12
  .col-#{$i}
    +column($i)

.col-half
  +column('half')

.col-third
  +column('third')

.col-twothirds
  +column('twothirds')

[class^="col"]
  // Pulls
  @for $i from 1 through 12
    &.col-pull-#{$i}
      +pull($i)

  // Pushes
  @for $i from 1 through 12
    &.col-push-#{$i}
      +push($i)

// IMAGES
// ------

.thumbnail-content
  +thumbnail-content

.thumbnail
  +thumbnail

// MODALS
// ------

.modal
  +modal

// LABELS
// ------

.label
  +label

  &.label-red
    +label(map-get($colors, red))

  &.label-orange
    +label(map-get($colors, orange))

  &.label-yellow
    +label(map-get($colors, yellow))
    color: map-get($black, light)

  &.label-green
    +label(map-get($colors, green))

  &.label-blue
    +label(map-get($colors, blue))

  &.label-violet
    +label(map-get($colors, violet))

// NAVIGATION
// ----------

.navbar
  +navbar

.navbar-dark
  +navbar($background: map-get($black, lighter))

// STATUS
// ------

.status-bar
  +statusBar

// TABLES
// ------
table
  +table

// TILES
// -----
.tile
  +tile

  &.tile-primary
    +tile-color($primary-color)

  &.tile-secondary
    +tile-color($secondary-color)

  &.tile-red
    +tile-color(map-get($colors, red))

  &.tile-orange
    +tile-color(map-get($colors, orange))

  &.tile-yellow
    +tile-color(map-get($colors, yellow))

  &.tile-green
    +tile-color(map-get($colors, green))

  &.tile-blue
    +tile-color(map-get($colors, blue))

  &.tile-violet
    +tile-color(map-get($colors, violet))

// TOOLTIPS
// --------

.tooltip_trigger
  +tooltip_trigger

// TYPOGRAPHY
// ----------

.xxl
  +xxl-heading

.xl
  +xl-heading

.lg
  +lg-heading

.md
  +md-heading

.rg
  +rg-heading

.sm
  +sm-heading

.xs
  +xs-heading

.xxs
  +xxs-heading

.readable
  +p(true)

  p, ul li, table, table td, table th
    +p(true)

.page-heading
  +page-heading

.hero
  +hero

.list
  +list

.list-unstyled
  +list-unstyled

.list-horizontal
  +list-horizontal
