doctype html

include _mixins

html(lang='en')
  head
    link(rel="stylesheet" href="/css/docs.css")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
  body
    header.fixed
      include _header
      block header

    block bleed

    .container
      .row
        main.mainpane
          block mainpane

        aside.sidebar
          block sidebar

      block container

    footer.main
      .container
        p Made from <a href="http://everything.io">Everything</a>
      block preJS

      script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js")
      link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/tomorrow.min.css")
      script.
        hljs.initHighlightingOnLoad();
      script(src="/js/kickstart.js")
      script(src="/js/docs.js")

      script.
        k$.nav('.main-navigation')

    block postJS
