extends ../_layout

block hero-title
  h1 Theming

block variables
  - var showFooter = false
  - var title = "Theming"

block documents
  .document
    article.article
      :markdown
        # Anatomy of a theme

        Theming is design to be very straightforward in Kickstart as every component
        works like an extensible class.

        The easiest way to get started is to simply make a copy of
        `lib/themes/default/theme.sass` and rename it as your own.

        You'll notice `default/theme.sass` has a very repetitive structure like this:

    article.code
      :markdown
        <span>

            =some-component
              +some-component-default

  .document
    article.article
      :markdown
        This allows you to style `some-component` by either leaning on the styles
        already provided...

    article.code
      :markdown
        <span>

            =some-component
              +some-component-default
              background-color: red
              font-family: courier, monospace

  .document
    article.article
      :markdown
        ...or completely replace it with your own.

    article.code
      :markdown
        <span>

            =some-component
              background-color: red
              font-family: courier, monospoace
              padding: 20px
              margin-bottom: 15px

  .document
    article.article.article-full 
      :markdown 
        # Why do it this way?

        By decoupling the default styling from the final component name, you get the
        following benefits:

        ## Keep the Kickstart core library up-to-date

        Updates to the core styles of Kickstart don't get overwritten when extending
        the component.

        ## End-user entry points remain untouched

        End users don't need to use any custom name that belongs only to the theme.
        They can flip through theme libraries and keep their library names the same.

        That's really all there is to writing a Kickstart theme. Enjoy!

  .document
    article.article.article-full
      h1#rails In Rails

      :markdown
        In a pure sass implementation, you could create your own theme by just
        dropping it in the theme directory. However, because this sits in a vendor
        location and probably (hopefully) not committed to your repo, it should
        make more sense to just copy the theme sass file into assets/stylesheets
        directory.

        Here's how to do this without breaking links.

  .document
    article.article
      :markdown 
        If using a theme not included with kickstart, add your theme to assets/stylesheets. 
        
        If you want to make one from scratch, you can 
        also [Copy one of the themes from the repo](https://github.com/ajkochanowicz/Kickstrap/tree/master/lib/sass/themes)
        into assets/stylesheets of your project.  

        There's one questionable line in this file when doing this, shown in the code.
        This is looking for an `_index.sass` file in `vendor`

        You can either create this directory and file to list an `@import` index of 3rd-party
        components, or just delete the `@import` line altogether. This mainly exists for node.js 
        usage.

    article.code
      :markdown
        <span>

            // Consider removing this line or creating this asset
            @import ../vendor/_index


  .document
    article.article
      :markdown
        In application.css.sass/scss, import that theme and any other of
        your stylesheets afterwards.
        
        If using a theme included with kickstart, be sure to point to it instead of 
        kickstart_rails itself.

    article.code
      :markdown
        <span>

            @import kickstart_rails/themes/themename;

  .document
    article.article
      :markdown
        In your theme, make sure each import is pointing to `kickstart_rails`, not `../`
        as the base directory.

    article.code
      :markdown
        <span>

            // For all of these
            @import ../some/file;

            // Change to this
            @import kickstart_rails/some/_file;
