extends ../../layout

block hero-title
  h1 Throttling

block basic
  :markdown
    ## Throttling

    Throttling is a function used by a few components in the library,
    so we've made it available as a standalone function.

        k$.throttle(myfunc, 'save name')

    Throttling allows a single function to be called only once every
    X milliseconds.

  iframe.animation(src="/iframes/throttler/throttler.html")

  :markdown
    ## Debouncing

    You can also debounce a component with `k$.debounce()`

        k$.debounce(myfunc, 'save name')

    A debouncer prevents a single function from being executed until
    X milliseconds have elapsed since it was last sent through the
    debouncer.

  iframe.animation(src="/iframes/debouncer/debouncer.html")

  :markdown
    An example usage of the debouncer is 
    [the status component](../../ui/notifications), which delays 
    hiding itself until the function hasn't been called for 2000ms

block variations
  h3 Debouncer
  h3 Throttle
