extends ../../layout

block hero-title
  h1 Labels

block hero-example
  .example
    span.label Look at this
    | &nbsp;
    span.label.label-red Uh oh
    | &nbsp;
    span.label.label-orange Fruity
    | &nbsp;
    span.label.label-yellow Warning
    | &nbsp;
    span.label.label-green It worked!
    | &nbsp;
    span.label.label-blue FYI
    | &nbsp;
    span.label.label-violet Exciting

block basic
  .example
    span.label Attention

  :markdown
    Labels are pretty straightforward. Ideally, `span` elements should be labels
    but the styling can be applied to almost anything.

  .if-semantic
    :markdown
      <span>
        
          <span class="attention">Attention</span>

          .attention {
            @include label();
          }

  .ifnot-semantic
    :markdown
      <span>

          <span class="label">Attention</span>

block variations
  :markdown
    Labels can also be styled much the same way you would with a button.  

  .example
    span.label.label-red Please correct
    | &nbsp;
    span.label.label-green New!

  .if-semantic
    :markdown
      Pass in any color to `label()`
        
          <span class="error">Please correct</span>
          <span class="notice">New!</span>

          .error {
            @include label(map-get($colors, red));
          }
          .notice {
            @include label($primary-color);
          }

  .ifnot-semantic
    :markdown
      <span>

          <span class="label red">Please correct</span>
          <span class="label blue">New!</span> 
