extends ../../layout

block hero-title
  h1 Navigation

block hero-example
  .sample-nav.navbar
    nav
      ul
        li Acme Enterprises
        li
          a(href="#") Home
        li
          | Pages
          ul
            li
              a(href="#") Blog
            li
              a(href="#") Contact Us
      ul
        li
          a(href="#") Login

block meta
  table
    tr.if-semantic
      td Mixin
      td
        code navbar()

block basic
  :markdown
    ## Bars

    Navigation bars consist of three elements:

    1. The container (Your choice of element)
    1. The menu (`nav`)
    1. The menu items (`ul li` structure)

    <span>

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Login</a>
              </li>
            </ul>
          </nav>
        </div>

  .if-semantic
    :markdown
      <span>

          .navbar {
            @include navbar();
          }

block variations
  :markdown
    ### Primary and secondary menus

    The first `ul` is automatically left aligned. Adding another will treat the
    second as a secondary menu and align it right. Adding more than two `ul`s
    will simply continue to follow CSS flexbox rules.

  .navbar
    nav
      ul
        li
          a(href="#") Left

  :markdown
    <span>

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Left</a>
              </li>
            </ul>
          </nav>
        </div>

  .navbar
    nav
      ul
        li
          a(href="#") Left
      ul
        li
          a(href="#") Right

  :markdown
    <span>

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Left</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Right</a>
              </li>
            </ul>
          </nav>
        </div>

  :markdown

    ### About the structure

    Why not just have `<nav>`? This is to give you more separation between the
    flexbox elements and the container it sits in. Flexbox display settings will
    affect the direct descendants. The need for this separation becomes clearer
    as the navbar becomes more complex, such as the addition of a wrapper inside
    the container.

    ### Combining with other elements

    Try mixing and matching with other elements, especially buttons and inputs.

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a class="signup" href="#" role="button">Sign Up</a>
              </li>
            </ul>
          </nav>
        </div>

        .navbar {
          @include navbar();
        }
        .signup {
          @include button();
        }

    Don't forget to add `role="button"` when using buttons in the navbar.

  :markdown
    ### Full width

    A common layout is to use the navbar at the top of the page, full width,
    with a container. By itself, the left and right padding will prevent it from
    lining up with the margins of `container()`

        <div class="mynavbar">
          <div class="mycontainer">
            <nav>
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <main>
          <div class="mycontainer">
            <h1>Hello world</h1>
          </div>
        </main>

        .mycontainer {
          @include container();
        }
        .mynavbar {
          @include navbar($bleed-container: true);
        }

    Simply pass in `true` to the `$bleed-container` parameter to enable container bleed.

    ### Dropdowns

    ### Breadcrumbs

    ### Pagination

block postJS
  script.
    k$.nav('.docs-nav')
    k$.nav('.sample-nav')
