extends ../../layout

block hero-title
  h1 Buttons

block hero-example
  .button.red Red
  | &nbsp;
  .button.orange Orange
  | &nbsp;
  .button.yellow Yellow
  | &nbsp;
  .button.green Green
  | &nbsp;
  .button.blue Blue
  | &nbsp;
  .button.violet Violet

block meta
  table
    tr.if-semantic
      td Mixin
      td
        code button()

block basic

  .if-semantic
    :markdown
      <span>

          <button class="signup">Sign up</button>

          .signup {
            @include button();
          }

  .ifnot-semantic
    :markdown
      <span>

          <button class="button">Sign up</button>

block variations
  .if-semantic

    .example
      button.button.green Send
      | &nbsp;
      button.button.red Delete
      | &nbsp;
      button.button.blue Info
      | &nbsp;
      button.button Cancel

    :markdown
      For colored buttons, simply pass in a color to `button()`.

          <button class="send">Send</button>
          <button class="delete">Delete</button>
          <button class="info">Info</button>
          <button class="cancel">Cancel</button>

    :markdown
      <span>

          .send {
            @include button($primary-color);
          }
          .delete {
            @include button($red);
          }
          .info {
            @include button(#6495ed);
          }
          .cancel {
            @include button();
          }
