extends ../../layout

block hero-title
  h1 Buttons

block hero-example
  .button.red Red
  | &nbsp;
  .button.orange Orange
  | &nbsp;
  .button.yellow Yellow
  | &nbsp;
  .button.green Green
  | &nbsp;
  .button.blue Blue
  | &nbsp;
  .button.violet Violet

block meta
  table
    tr
      td Mixin
      td
        code button()

block basic
  :markdown
    &nbsp;

        <button class="signup">Sign up</button>

        .signup {
          @include button();
        }

  .if-jquery jQuery is on
  .ifnot-jquery jQuery is off
  .if-semantic Semantic is on
  .ifnot-semantic Semantic is off
