extends ../../index

include ../../../../_mixins

block doc-article
  h2 Buttons

  +preview(
    src='buttons',
    rowOne='button()',
    block=false
  )

  :markdown
    Example

        <button class="signup">Sign up</button>

        .signup {
          @include button();
        }


  h3 Variations

  .button.red Red
  | &nbsp;
  .button.orange Orange
  | &nbsp;
  .button.yellow Yellow
  | &nbsp;
  .button.green Green
  | &nbsp;
  .button.blue Blue
  | &nbsp;
  .button.violet Violet
