extends ../../index

block doc-article
  h2 Buttons

  .example
    button Sign up

    :markdown
      Example

          <button class="button signup">Sign up</button>

          .signup {
            @include button();
          }

       Technically the `.button` class is not needed here. This is a utility
       class only needed to restore styling when the button is nested in 
       another Kickstrap block element.

       See the [navbar](/docs/ui/navigation/) for an example.
