extends ../../index

include ../../../_mixins

block doc-article
  h2 Buttons

  +preview(
    src='buttons',
    rowOne='button()',
    block=false
  )

  :markdown
    Example

        <button class="signup">Sign up</button>

        .signup {
          @include button();
        }
