extends ../../index

block doc-article
  :markdown
    ## Navigation

    ### Bars

    Navigation bars consist of three elements:

    1. The container
    1. The menu
    1. The menu items

    Here is the a simple navigation bar with all three elements

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </nav>
        </div>

    Why not just have `<nav>`? This is to give you more separation between the
    flexbox elements and the container it sits in. Flexbox display settings will
    affect the direct descendants. The need for this separation becomes clearer
    as the navbar becomes more complex, such as the addition of a wrapper inside
    the container.

    #### Combining with other elements

    Try mixing and matching with other elements, especially buttons and inputs.

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a class="signup" href="#">Sign Up</a>
              </li>
            </ul>
          </nav>
        </div>

        .navbar {
          @include navbar();
        }
        .signup {
          @include button();
        }

    #### Special uses

    A common layout is to use the navbar at the top of the page, full width,
    with a container. By itself, the left and right padding will prevent it from
    lining up with the margins of `container()`

        <div class="mynavbar">
          <div class="mycontainer">
            <nav>
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <main>
          <div class="mycontainer">
            <h1>Hello world</h1>
          </div>
        </main>

        .mycontainer {
          @include container();
        }
        .mynavbar {
          @include navbar($bleed-container: true);
        }

    Simply pass in `true` to the `$bleed-container` parameter to enable container bleed.

    ### Dropdowns

    ### Breadcrumbs

    ### Pagination
