extends ../../index

block doc-article
  :markdown
    ## Navigation

    ### Bars

    Navigation bars consist of three elements:

    1. The container
    1. The menu
    1. The menu items

    Here is the a simple navigation bar with all three elements

        <div class="navbar">
          <nav>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </nav>
        </div>

    Why not just have `<nav>`? This is to give you more separation between the
    flexbox elements and the container it sits in. Flexbox display settings will
    affect the direct descendants. The need for this separation becomes clearer
    as the navbar becomes more complex, such as the addition of a wrapper inside
    the container.

    ### Dropdowns

    ### Breadcrumbs

    ### Pagination
