extends ../index

block doc-article
  h4 Philosophy
  p Kickstart is an effort to carve the process of website design down to its bare essentials.
  ul
    li
      | Library-free
      ul
        li The sum total of the Kickstart product is one CSS and one JS file.
        li No jQuery required
    li
      | Customizable by design
      ul
        li The design of the Kickstart compilation system encourages creating themes by treating component styles as extensible classes.
    li
      | Optimized for specific use cases.
      ul
        li
          | Kickstart recognizes three main areas for website design
          ul
            li Applications
            li Content
            li Marketing
        li Compatible in popular backend frameworks as well as plain HTML.
