extends ../../layout

block hero-title
  h1 Modals

block hero-example

block meta
  table
    tr.if-semantic
      td Mixin
      td
        code modal()

block basic

  p
    | Turn any element into a modal using&nbsp;
    code k$.modal()

  p
    pre
      code // Instantiate and assign your modal in one line.
        | var $signup = k$.modal(&quot;.signup&quot;)

  .ifnot-jquery
    :markdown
      &nbsp;

          // Show modal
          $signup.style.display = 'block'

          // Hide modal
          $signup.style.display = 'none'

  .if-jquery
    :markdown
      &nbsp;

          // Show modal
          $($signup).show();

          // Hide modal
          $($signup).hide();
