extends ../../layout

block hero-title
  h1 Modals

block hero-example

block meta
  table
    tr.if-semantic
      td Mixin
      td
        code modal()

block basic

  p
    | Turn any element into a modal using
    code k$.modal()

  p
    pre
      code // Instantiate and assign your modal in one line.
        | var $signup = k$.modal(&quot;.signup&quot;)

  .ifnot-jquery
    :markdown
      &nbsp;

          // Define an action to show or hide the modal
          $myButton = document.querySelector('#myButton');
          $myButton.addEventListener('click', function() {

            // Show the modal
            $signup.style.display = 'block'

          });

  .if-jquery
    :markdown
      &nbsp;

          // Now just show or hide it as you would any other element.
          $('.myButton').click(function() {
            $($signup).show();
          });
