extends ../../index

block doc-article
  :markdown
    ## Modals

    Turn any element into a modal using `k$.modal()`.

        // Instantiate and assign your modal in one line.
        var $modal = k$.modal('.myModal')

        // Define an action to show or hide the modal
        $myButton = document.querySelector('.myButton');
        $myButton.addEventListener('click', function() {

          // Show the modal
          $modal.style.display = 'block'

        });

    Note, the `open` parameter is optional as opening is the default.
