extends ../../index

block doc-article
  h4 Colors
  h5 Grayscales
  p Kickstart uses an 8 point grayscale
  table
    tbody
      tr
        td
          code $white
      tr
        td
          code $lightest-gray
      tr
        td
          code $lighter-gray
      tr
        td
          code $light-gray
      tr
        td
          code $gray
      tr
        td
          code $dark-gray
      tr
        td
          code $darker-gray
      tr
        td
          code $darkest-gray
