extends ../../index

block doc-article
  :markdown
    #### Colors

    ##### Grayscales

    Kickstart uses a 15 point grayscale

  table
    tbody
      - for color in ['$white', '$dark-white', '$darker-white', '$darkest-white', '$lightest-gray', '$lighter-gray', '$light-gray', '$light-gray', '$gray', '$dark-gray', '$darker-gray', '$darkest-gray', '$lightest-black', '$lighter-black', '$light-black', '$black']
        tr
          td
            code #{color}

  :markdown
    #### Rainbow

  table
    tbody
      - for color in ['$yellow']
        tr
          td
            code #{color}
