=button-default($color, $size: 1)
  font-size: 0.9rem
  display: inline-block
  color: map-get($gray, darkest)
  cursor: pointer
  text-decoration: none
  border-color: hsla(0, 0%, 0%, 0.15)
  color: map-get($black, light)
  text-align: left

  &.with-submenu
    position: relative

    ul
      display: none

    &:after
      content: '+'
      font-family: 'Kickstart', Kickstart
      display: inline-block
      color: rgba(0, 0, 0, 0.3)

  &:hover
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset
    text-decoration: none

  &:active
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1) inset
    text-decoration: none

  +button-color($color)
  +button-size($size)

// Separated from main mixin for access by non-semantic library.

=button-color($color)
  background-color: $color

  @if lightness($color) > 75%
    color: map-get($black, lighter)
  @else
    color: white

  @if $color == $yellow
    color: map-get($black, lighter)

  @if $color == transparent
    color: map-get($black, lighter)

=button-size($size)
  +root-element($size: $size)
  padding:
    left: $size * $size * map-get($rootElement, paddingH)
    right: $size * $size * map-get($rootElement, paddingH)

  &.with-submenu
    &:after
      font-size: $size * 0.85rem
      margin:
        left: 1/2 * $size * $size * map-get($rootElement, paddingH)
        right: -1/2 * $size * $size * map-get($rootElement, paddingH)

    ul
      padding:
        top: $size * $size * map-get($rootElement, paddingV)
      +list-unstyled
      margin-bottom: 0

      li
        +root-element($size)
        padding:
          left: 0
          right: 0
        margin:
          bottom: 0

        a
          color: inherit
