=thumbnail-content-default
  display: flex
  overflow: hidden
  margin-bottom: $space
  align-items: flex-start

  > :not(img)
    + img
      margin-left: $space/2

  > img
    + :not(img)
      margin-left: $space/2
