// Vendor libraries
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic)

*
  box-sizing: border-box

iframe
  width: 100%
  border: 0
  padding: 15px
  margin-bottom: 25px

=above-footer
  flex: 1

=screen
  display: flex
  min-height: 100vh
  flex-direction: column
