// Still playing with this
  $mobile: (
    default: 360px,
    large: 480px,
    larger: 600px,
    largest: 768px
  )

//
  $display: (
    smallest: 960px,
    smaller: 1024px,
    small: 1200px,
    default: 1400px
  )

$phone: 360px
$phablet: 480px
$tablet: 768px
$tablet-landscape: 960px
$desktop: 1024px
$large-monitor: 1200px
$xl-monitor: 1400px

$grid-columns: 12
$grid-gutter: 15px

// Grid breakpoints
// ----------------
// Critical breakpoints where offsets and alternative grid styles will
// be displayed

$showOffsets:        $tablet-landscape // Offsets render at this breakpoint
$showColumns:        $phablet          // Allow < 12 columns
$showPartialColumns: $tablet           // Simpler alternative to actual columns
$showFullColumns:    $desktop          // Actual user-defined column measurement

=container
  margin: 0px auto
  display: block
  max-width: $tablet
  padding:
    left: 25px
    right: 25px

  @media screen and (min-width: $showOffsets)
    max-width: $desktop

  @media screen and (min-width: $large-monitor)
    max-width: $large-monitor

=row
  display: flex
  width: 100%
  justify-content: space-between
  align-items: stretch
  flex-wrap: wrap

=measure-columns($columns, $prop)
  // TODO: DRY this somehow?
  @if $prop == "width"
    width: calc(#{percentage($columns/$grid-columns)} - #{(($grid-columns/$columns - 1) * $grid-gutter)/($grid-columns/$columns)})

  @else if $prop == "margin-left"
    margin-left: calc(#{percentage($columns/$grid-columns)} - #{(($grid-columns/$columns - 1) * $grid-gutter)/($grid-columns/$columns) - $grid-gutter})

  @else if $prop == "margin-right"
    margin-right: calc(#{percentage($columns/$grid-columns)} - #{(($grid-columns/$columns - 1) * $grid-gutter)/($grid-columns/$columns) - $grid-gutter})

=set-offset($columns, $side: "margin-right")
  // Never show leftes and rights on mobile
  // +measure-columns(0, $side)

  // Look for keywords
  @if $columns == "half"
    @media screen and (min-width: $showPartialColumns)
      +measure-columns(6, $side)

  @else if $columns == "third"
    @media screen and (min-width: $showPartialColumns)
      +measure-columns(6, $side)

    @media screen and (min-width: $showFullColumns)
      +measure-columns(4, $side)

  @else if $columns == "twothirds"
    @media screen and (min-width: $showPartialColumns)
      +measure-columns(6, $side)

    @media screen and (min-width: $showFullColumns)
      +measure-columns(8, $side)

  @else
    @media screen and (min-width: $showPartialColumns)
      +measure-columns($columns, $side)

// Convenience mixins
=right($columns)
  +set-offset($columns, "margin-right")
=left($columns)
  +set-offset($columns, "margin-left")

=set-column($columns, $right, $left)
  +measure-columns($columns, "width")
  clear: none
  display: block
  margin-left: 0

  @if $right != 0
    +set-offset($right, "margin-right")

  @if $right != 0
    +set-offset($left, "margin-left")

=column($columns: 12, $right: 0, $left: 0)
  // Everything is a full width column on mobile by default
  +set-column(12, 0, 0)

  // Look for keywords
  @if $columns == "half"
    @media screen and (min-width: $showPartialColumns)
      +set-column($grid-columns/2, $right, $left)

  @else if $columns == "third"
    @media screen and (min-width: $showPartialColumns)
      +set-column($grid-columns/2, $right, $left)
    @media screen and (min-width: $showFullColumns)
      +set-column($grid-columns/3, $right, $left)

  @else if $columns == "twothirds"
    @media screen and (min-width: $showPartialColumns)
      +set-column($grid-columns/2, $right, $left)
    @media screen and (min-width: $showFullColumns)
      +set-column(($grid-columns * 2/3), $right, $left)

  @else
    // No keywords found, pass in values.
    @media screen and (min-width: $showColumns)
      +set-column($columns, $right, $left)
