extends ../layout

block mainpane
  h1 Documentation

  block doc-article
    h2 Quickstart
    p Choose how you'd like to get started
    ul
      li
        a(href="#") Barebones
        ul
          li Just use the CSS/JS file
      li
        a(href="#") Dependency-managed
        ul
          li Use in another framework like Rails or Express
      li
        a(href="#") Full build environment
        ul
          li Use our Gulp-powered compilation boilerplate

block sidebar
  h1 View Options
  form
    label.checkbox
      input(type="checkbox" checked)
      |  Advanced (semantic)
    label.checkbox
      input(type="checkbox" checked)
      |  Sass
    label.checkbox
      input(type="checkbox")
      |  jQuery

  h1 Table of Contents
  ul
    li
      a(href="/docs/") Quickstart
    li
      a(href="/docs/theming/") Theming
    li
      | UI
      ul
        li
          a(href="/docs/ui/") Base styles
        li
          a(href="/docs/ui/buttons") Buttons
        li
          a(href="/docs/ui/forms") Forms
        li
          a(href="/docs/ui/colors") Colors
        li
          a(href="/docs/ui/icons") Icons
        li
          a(href="/docs/ui/images") Images
        li
          a(href="/docs/ui/labels") Labels
        li
          a(href="/docs/ui/modals") Modals
        li
          a(href="/docs/ui/navigation") Navigation
        li
          a(href="/docs/ui/notifications") Notifications
        li
          a(href="/docs/ui/tabs") Tabs
        li
          a(href="/docs/ui/tiles") Tiles
        li
          a(href="/docs/ui/tooltips") Tooltips
        li
          a(href="/docs/ui/typography") Typography
    li
      a(href="/docs/philosophy/") Philosophy
