extends ../layout

block mainpane
  h3 Documentation

  block doc-article
    h4 Quickstart
    p Choose how you'd like to get started
    ul
      li
        a(href="#") Barebones
        ul
          li Just use the CSS/JS file
      li
        a(href="#") Dependency-managed
        ul
          li Use in another framework like Rails or Express
      li
        a(href="#") Full build environment
        ul
          li Use our Gulp-powered compilation boilerplate

block sidebar
  h3 Table of Contents
  label.checkbox
    input(type="checkbox" checked)
    |  Advanced (semantic)
  label.checkbox
    input(type="checkbox" checked)
    |  Sass
  label.checkbox
    input(type="checkbox")
    |  jQuery

  ul
    li
      a(href="/docs/") Quickstart
    li
      a(href="/docs/theming/") Theming
    li
      | UI
      ul
        li
          a(href="/docs/ui/") Base styles
        li
          a(href="/docs/ui/buttons") Buttons
        li
          a(href="/docs/ui/colors") Colors
        li
          a(href="/docs/ui/typography") Typography
    li
      a(href="/docs/philosophy/") Philosophy
