doctype html5
html
  head
    link(rel="stylesheet" href="/css/kickstart.css")
    style.
      .column-example { 
        background: black; 
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
      }

  body
    .container
      h1 Static tests
      h2 Grid
      h3 Regular columns
      .row
        .col-6: .column-example Test
        .col-6: .column-example Test

      .row
        .col-3: .column-example Test
        .col-3: .column-example Test
        .col-3: .column-example Test
        .col-3: .column-example Test

      .row
        .col-6: .column-example Test
        .col-3: .column-example Test
        .col-3: .column-example Test



